
.icontable {
  width: 50px;
  height: auto;


}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; 
}
body {
  
  background-color: #EAEDED; /* Amazon light grey background */
  font-family: 'Segoe UI', sans-serif;
  color: #111;
}

.divcontent{
  margin-left: 150px;
  margin-right: 150px;
}

.izquierda_arrow, .derecha_arrow {
    color: black;
    font-size: 2rem; 
}
.carouselprods, .carousel-control-prev {
    left: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}
 
.carouselprods, .carousel-control-next {
    right: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}

.cardprod{
  height: 450px;
  width: auto;
}

.card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: auto;
}

.card-img-top-prod {
  
  height: 90%;
  width: 90%;
}

p {
      font-size: 16px;
    }

.sidebar {
  max-width: 12%;
  background-color: #e8e8e8  ; 
  margin-left: 12%;
  color: white;
  border: 2px solid #ccc;
}


.div-info{
  margin-right: 250px;
}

.card-user-compras{
  margin: 10px auto;
  margin-left: 2%;
}

.container-fluid{

  margin-top: 30px;
  margin-bottom: 30px;
}

  

  /* Contenido principal que ocupa el resto del espacio */
  main {
    flex: 1;
  }

.login-box {
            max-width: 500px;
            margin: 80px auto;
            padding: 30px;
            border: 1px solid #adacc0;
            border-radius: 8px;
            background-color: #EAEDED ;
  }

.register-box h2 {
    margin: 0;
    background-color: #f1f1f1;
    padding: 30px;
  }

.register-box form {
    padding: 30px;
  }

.register-box {
            max-width: 900px;
            margin: 80px auto;
            border: 1px solid #adacc0;
            border-radius: 8px;
            background-color: #EAEDED;
  }



.gestioncliente-box {

  max-width: 1000px;
  border: 1px solid #adacc0;
  border-radius: 8px

  }
